/* stylings for all pages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111827;
    font-family: Verdana, "Times New Roman", sans-serif;
}

h1 {
    margin-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-style: italic;
    font-size: 36px;
    border-bottom: 1px solid #e5e7eb;
    color: #e5e7eb;
}

a:link {
    color: rgb(173, 216, 230);
}

a:visited {
    color: rgb(128, 75, 158);
}

a:hover {
    color: rgb(32, 178, 170);
}

/* index.html stylings */
.content {
    text-align: center;
}

.main-page, .main-images {
    list-style: none;
    
}

.main-page li, .main-images li {
    display: inline-block;
    padding: 10px;
}

.main-page li {
    margin: 16px 68px;
}

.main-images li {
    margin: 16px;
}


/* recipe page stylings */
.recipe-header {
    display: inline-block;
    width: 100%;
}

.recipe-header h1 {
    border: none;
}
.recipe-header p {
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid gray;
}

.recipe-main {
    color: #e5e7eb;
    margin: 0 100px 50px;
    font-size: 18px;
}

.recipe-main h2 {
    text-align: center;
}

.recipe-main img {
    position: relative;
    left: 40%;
}

.recipe-main ul, .recipe-main ol, .recipe-main p {
    padding-left: 32px;
}


